.last-block {
	position: relative;
	width: 100vw;
	overflow: hidden;
	@media (min-width: 768px) {
		font-size: 13.54167vw;
	}
	&__header {
		font-size: 0.6em;
		padding-bottom: 0.25em;
		font-style: normal;
		font-weight: 900;
		line-height: 104%;
		letter-spacing: 6.75px;
		text-transform: uppercase;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		position: absolute;
		bottom: 0;
		padding: 0.2em;
		font-size: 0.2em;
		font-style: normal;
		font-weight: 900;
		letter-spacing: 2px;
		line-height: 118%;
		text-transform: uppercase;
		@media (max-width: 768px) {
			font-size: 30px;
		}
	}
	&__image {
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}
	&__image-wrapper {
		cursor: pointer;
		position: relative;
		width: 50vw;
		height: 50vh;
		@media (max-width: 768px) {
			width: 70vw;
		}
	}
	&__description {
		width: 50vw;
		padding-top: 0.5em;
		font-family: "Montserrat";
		font-size: 0.08em;
		font-style: normal;
		font-weight: 400;
		line-height: 137%;
		letter-spacing: 1px;
		@media (max-width: 768px) {
			font-size: 10px;
			width: 70vw;
		}
		span {
			position: relative;
			z-index: 75;
			cursor: pointer;
			text-decoration: underline;
		}
	}
	&__date {
		width: 50vw;
		font-family: "Montserrat";
		font-size: 0.3em;
		font-style: normal;
		font-weight: 600;
		line-height: 118%;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		@media (max-width: 768px) {
			width: 70vw;
		}
	}
}
