.scroll-text-mobile-block {
	height: 130vh;
	max-height: 130vh;
	width: 100vw;
	max-width: 100vw;
	margin-bottom: 1em;
	position: relative;
	&__bg {
		position: absolute;
		height: 100vh;
		object-fit: cover;
		width: 100%;
	}
}
.transparent-text-mobile {
	line-height: 1.3;
	letter-spacing: 1.3px;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	object-position: center;
	position: relative;
	max-width: 100vw;
	overflow: hidden;
	z-index: 10;
	text-wrap: nowrap;
	text-transform: uppercase;
}
