.crafting-careers {
	text-transform: uppercase;
	z-index: 100;
	margin-top: -200vh;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (min-width: 1072px) {
		min-height: min-content;
	}
	@media (max-width: 1072px) {
		min-height: max-content;
		font-size: 13.54167vw;
	}
	@media (max-width: 1240px) {
		padding: 3vh 3vw;
	}
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		gap: 50px;
		@media (min-width: 1640px) {
			width: 1195px;
			height: 785px;
			padding: 0px 68px 0px 68px;
			gap: 102px;
		}
		@media (max-width: 1640px) and (min-width: 1240px) {
			width: 1438px;
			height: 873px;
			padding: 0px 68px 0px 68px;
			gap: 52px;
		}
	}
	&__title {
		text-wrap: nowrap;
		font-weight: 900;
		letter-spacing: 0.02em;
		@media (min-width: 1640px) {
			width: 1059px;
			height: 302px;
			font-size: 174px;
			line-height: 174px;
		}
		@media (max-width: 1640px) and (min-width: 1240px) {
			font-size: 164px;
			line-height: 164px;
			width: 1059px;
			height: 288px;
			gap: 44px;
		}
		@media (max-width: 1240px) and (min-width: 1072px) {
			width: 1144px;
			height: 268px;
			gap: 44px;
			font-size: 150px;
			line-height: 150px;
		}
		@media (max-width: 1072px) and (min-width: 768px) {
			max-width: 770px;
			width: 770px;
			height: 164px;
			gap: 16px;
			font-size: 100px;
			line-height: 100px;
		}
		@media (max-width: 768px) {
			font-size: 50px;
			line-height: 50px;
		}
	}
	&__text {
		position: relative;
		text-align: center;
		display: flex;
		align-items: center;
		letter-spacing: 0.05em;
		@media (min-width: 1240px) {
			width: 858px;
			height: 296px;
			font-size: 40px;
			font-weight: 1000;
			line-height: 48px;
		}
		@media (max-width: 1240px) and (min-width: 768px) {
			width: 641px;
			height: 296px;
			font-size: 32px;
			font-weight: 1000;
			line-height: 38.4px;
		}
		@media (max-width: 768px) {
			width: 214px;
			height: 126px;
			font-size: 16px;
			font-weight: 1000;
			line-height: 19.2px;
		}
	}
	&__button {
		z-index: 10;
		cursor: pointer;
		position: relative;
	}
}
